link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
  link#bootstrap-css(href='http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src="https://kit.fontawesome.com/067b85bcc3.js")
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='https://ka-f.fontawesome.com/releases/v5.15.1/css/free-v4-shims.min.css')
  link(rel='stylesheet', href='https://ka-f.fontawesome.com/releases/v5.15.1/css/free-v4-font-face.min.css')
  link(rel='stylesheet' href='https://ka-f.fontawesome.com/releases/v5.15.1/css/free.min.css')
  link(rel='stylesheet', href=`http://${baseurl}/css/page.css`)
.container
  .row.header
    .col-sm
      a(href='/')
        img(src=`http://${baseurl}/img/instagram.png` style='width: 50%')
    .col-sm
      form.search-form(action='/search' method='get')
        input(type='text' placeholder='검색')
        button(type='submit' style='width:0px; height:0px; display: none;')
    .col-sm.icon
      .filebox
        label(for='ex_file' style='width:30px;')
          i.fas.fa-upload
        input.postupload(type='file' id='ex_file' accept='image/*')
      a(href=`/`)
        i.fa.fa-home
      a(href=`/`)
        i.far.fa-sticky-note
      a(href=`/explore`)
        i.fab.fa-wpexplorer
      i.far.fa-user
      div.usernav(style='display:none;')
        if user  
          a(href=`/profile/${user.id}`).usernavbut
            span= '프로필'
        a(href=`/edit`).usernavbut
          span= '설정'
        a(href=`/auth/logout`).usernavbut
          span= '로그아웃'
    .modal#uploadModal
      .modal-content
          input#contents(type='text' placeholder='문구 입력...')
          span.postbutton= '공유하기'
  block content