extends header.pug
    
block content
  .row.main      
    .stories
    .ps
      each post in posts
        .p
          .userid
            a(href=`/profile/${user.id}`)= user.id
          img(src=post.img)
          .icon
            i.far.fa-heart(onclick=`clickLike(${JSON.stringify(post)})`)
            a(href=`/p/${post.id}`)
              i.far.fa-comments
          .likes
            span= "좋아요 "
            span.likecount= post.likes ? post.likes.length : 0
            span= "개"
          .content
            span(style='font-weight:bold;')= user.id
            = "   "
            span.content= post.content
          .comment
            form.comment-form
              div(style='display:none;')= `${post.id}`
              input(type='text' placeholder='댓글 달기...' name='comment' onchange='comment_onchange(this);')
              button#commentpost(type='submit' disabled)= '게시'
    .right
    footer
  