extends header.pug
    
block content
  .main      
    .stories
      .filebox.circle.story
        label(for='story_file' style='padding-top:30%;')
          i.fas.fa-plus
        input.storyupload(type='file' id='story_file' accept='image/*')
      each story in stories
        a(href=`/story/${story.id}` style="border-color:#ff0000;").story.circle
          div(style="font-weight:bold;font-size:10px;padding:0;")= story.userId
    .ps
      each post in posts
        .p
          .userid
            div(style='display:none;')= post.id
            a(href=`/profile/${post.userId}`)= post.userId
            if post.userId === user.id
              button.postBtn.fas.fa-ellipsis-h
          img.post_img(src=post.img)
          .icon
            div(style="display:none;")= post.id
            i.far.fa-heart
            a(href=`/p/${post.id}`)
              i.far.fa-comments
          .likes
            span= "좋아요 "
            span.likecount= post.likes ? post.likes.length : 0
            span= "개"
          .content
            span(style='font-weight:bold;')= post.userId
            = "   "
            span.content= post.content
          .comment
            form.comment-form
              div(style='display:none;')= `${post.id}`
              input(type='text' placeholder='댓글 달기...' name='comment' onchange='comment_onchange(this);')
              button#commentpost(type='submit' disabled)= '게시'
    .aside
      .recommend
        div(style='margin-bottom:10px;')
          span(style='color:#8e8e8e;padding-right:35%;')= '회원님을 위한 추천'
          a(href=`/explore` style='color:#0095f6;font-weight:bold;')= '모두 보기'
        if recommends
          each recommend in recommends
            .recom_user
              if recommend.profile
                img(src=recommend.profile)
              else
                img(src=`http://${baseurl}/img/default.jpeg`)
              a(href=`/profile/${recommend.id}`)
                span= recommend.id
    .modal#deleteModal
      .modal-content
        span.delete= '삭제'
        span.close= '닫기'
    footer
    script(src=`http://${baseurl}/js/main.js`)
    script(src=`http://${baseurl}/js/upload.js`)
    script(src=`http://${baseurl}/js/post.js`)
    script(src=`http://${baseurl}/js/like.js`)