extends header.pug
    
block content
  .row.main      
    .stories
    .posts
      for post in posts
        .p
          .userid
            a(href=`/profile/${user.id}`)= user.id
          img(src=post.img)
          .icon
            i(onclick=``).far.fa-heart
            i.far.fa-comments
          .likes= `좋아요 ${post.likes.length} 개`
          .content
            span(style='font-weight:bold;')= user.id
            = "   "
            span.content= post.content
          .comment
            form(action=`/p/${post.id}/comment` method='POST')
              textarea(placeholder='댓글 달기...' style="height:18px;" name='comment' onchange='comment_onchange(this);')
              button#commentpost(type='submit' disabled)= '게시'
    .right
    footer
  
  script.
    function comment_onchange(text){
      var e = document.getElementById('commentpost');
      if(text.value){
        e.style.color= '#0095f6';
        e.disabled = false;
      }
      else{
        e.style.color = '#bfe3f1';
        e.disabled = true;
      }
    }
    function imgupload(files) {
      var data = new FormData();
      data.append('img', files[0]);
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status===200){
            document.tempvalue = JSON.parse(xhr.responseText).url;
            window.open('/p', "새 게시물", "width=300, height=300, resizable = no, scrollbars = no")
        }
      }
      xhr.open('POST', '/p/img');
      xhr.send(data);
      }
