extends header.pug
    
block content
  .row.main      
    .stories
      .filebox.circle
        label(for='story_file')
          i.fas.fa-plus
        input.storyupload(type='file' id='story_file' accept='image/*')
      ul(style='')
        each story in stories
          li(style='')
            .circle(style="padding-bottom:3px;")
              a(href=`/story/${story.id}`)
            div(style="font-weight:bold;font-size:14px;padding:0;")= story.userId
    .ps
      each post in posts
        .p
          .userid
            a(href=`/profile/${post.userId}`)= post.userId
          img(src=post.img)
          .icon
            i.far.fa-heart(onclick=`clickLike(${JSON.stringify(post)})`)
            a(href=`/p/${post.id}`)
              i.far.fa-comments
          .likes
            span= "좋아요 "
            span.likecount= post.likes ? post.likes.length : 0
            span= "개"
          .content
            span(style='font-weight:bold;')= post.userId
            = "   "
            span.content= post.content
          .comment
            form.comment-form
              div(style='display:none;')= `${post.id}`
              input(type='text' placeholder='댓글 달기...' name='comment' onchange='comment_onchange(this);')
              button#commentpost(type='submit' disabled)= '게시'
    .right          
    footer
    script(src=`http://localhost:3000/js/main.js`)
    script(src=`http://localhost:3000/js/upload.js`)