extends header.pug

block content
  if post
    .row.postpage
      .col-sm
        img#post_img(src=`http://${baseurl}/${post.img}`)
      .col-sm
        .userid
          div(style='display:none;')= `${post.id}`
          a#profile_id(href=`/profile/${post.userId}`)= post.userId
          span= "    " 
          if post.userId !== user.id
            if !isFollowing
              button.followbutton
            else
              button.defollowbutton
          else
            button.postBtn.fas.fa-ellipsis-h
        .post_content
          span.userid(style="border:none;")= post.userId
          span.content= post.content
        .comments.post_content
          for comment in post.comments
            .comment
              div(style='display:none;')= `${comment.id}`
              span(style="font-weight: bold;")= comment.userId
              span= "  "
              span= comment.content
              if user.id===comment.userId
                button.commentBtn.fas.fa-ellipsis-h
        .modal#deleteModal
          .modal-content
            span.delete= '삭제'
            span.close= '닫기'
            
        .icon
          div(style="display:none;")= post.id
          i.far.fa-heart
          a(href=`/p/${post.id}`)
            i.far.fa-comments
        .comment
          form.comment-form
            div(style='display:none;')= `${post.id}`
            input(type='text' placeholder='댓글 달기...' name='comment' onchange='comment_onchange(this);')
            button#commentpost(type='submit' disabled)= '게시'
  script(src=`http://${baseurl}/js/main.js`)
  script(src=`http://${baseurl}/js/post.js`)
  script(src=`http://${baseurl}/js/follow.js`)
  script(src=`http://${baseurl}/js/upload.js`)
  script(src=`http://${baseurl}/js/like.js`)

