extends header.pug
block content
  .user
    .userid(style="border: none; font-size: 25px;")
      span
        h2#profile_id= profile.id
      span
        if profile.id !== user.id
          if !isFollowing
            button.followbutton
          else
            button.defollowbutton
    ul.user_info
      li
        span= '게시물 '
        span(style='font-weight:bold;')= posts.length
      li
        span= '팔로워 '
        span(style='font-weight:bold;')= followers
      li
        span= '팔로잉 '
        span(style='font-weight:bold;')= followings
     
  .menu
  .posts
  script(src=`http://${baseurl}/js/follow.js`)
  script(src=`http://${baseurl}/js/upload.js`)